{% extends 'layout.html' %}

{% block body %}


<center>  
{{msg}}
</center>  

<center>  
<form action="./admin_change_price_handler" method="post">

    <div class="container">

    <h2> Change Flight Price </h2>
        
        <label for="fcode"><b>Flight code:&nbsp; </b></label>
        <input type="text" placeholder="Enter flight code" name="fcode" required>
        <br><br>

        <label for="new_price"><b>New Price:&nbsp; </b></label>
        <input type="text" placeholder="Enter New Price" name="new_price" required>
        <br><br>

        <button type="submit">Change Price</button>
        
        <br><br>
        
    </div>

</form>

<a href="./add_admin">Add new admin</a><br>
<a href="./admin_menu">Add new flight</a><br>
<a href="./admin_cancel_flight">Cancel flight</a><br>

</center>

{% endblock %}