{% extends 'layout.html' %}

{% block body %}

<center>  
{{msg}}
</center>  

<center>  
<form action="./deactivate_account_handler" method="post">

    <div class="container">
    
        <h2> Deactivate account </h2>

        <button type="submit">Confirm deactivation</button>
        
        <br><br>
        
    </div>

</form>

<a href="./search_flight">Search flight</a><br>
<a href="./view_reservation">View reservation</a><br>
<a href="./cancel_reservation">Cancel reservation</a><br>
<a href="./sorted_reservation_list">Sorted reservation list</a><br>
<a href="./view_cheapest_expensivest_reservation">View cheapest-expensivest reservation</a><br>
<a href="./view_reservations_of_certain_destination">View reservations of certain destination</a><br>
<a href="./deactivate_account">Deactivate account</a><br>    
</center>

{% endblock %}