{% extends 'layout.html' %}

{% block body %}
<center> 
    {{msg}}
</center> 

<center>
    <form action="./sorted_reservation_list_handler" method="post">
    
    <div class="container">
        
    <h2> Sorted Reservation List </h2>

    Order: &nbsp; 
    <select name="time_order" id="time_order" required>
        <option value="older_first">Older first</option>
        <option value="newer_first">Newer first</option>        
    </select>

    <br><br>

    <button type="submit">Show list</button>
    <br><br>  
    </div>
  
  </form>

<a href="./search_flight">Search flight</a><br>
<a href="./new_reservation">New reservation</a><br>
<a href="./view_reservation">View reservation</a><br>
<a href="./cancel_reservation">Cancel reservation</a><br>
<a href="./view_cheapest_expensivest_reservation">View cheapest-expensivest reservation</a><br>
<a href="./view_reservations_of_certain_destination">View reservations of certain destination</a><br>
<a href="./deactivate_account">Deactivate account</a><br>

</center>

{% endblock %}